@font-face {
    font-family: myfont;
    src: url(Fonts/Lato-Light.ttf);
}


* {
    box-sizing: border-box;
    font-family: myfont;
    font-weight: bolder;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #162B32;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}


.navbar-links li {
    
    list-style: none;
    font-size: 1.1rem;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    padding: 1rem;
}
.navbar-links li :hover {
    background-color:#224855 ;
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    
    .navbar-links .dropdown {
        
        width: 100%;
    }

    .navbar-links .dropdown ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links .dropdown ul li {
        text-align: center;
    }

    .navbar-links .dropdown ul li a {
        padding: .5rem 1rem;
    }
    .dropdown-content{
        text-align: center;
        margin-left: 200px;
    }
    
}

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #162B32;
    color: #fff;
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0 0 5px 5px ;
  }
  
  .dropdown-content a {
    float: none;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #224855;
    color: #fff;
    border-radius: 0 0 5px 5px ;
  }

  .dropdown-content a:hover {
    background-color: #224855;
    color: #fff;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
