
.overview_card-info{
    font-size: 8vh;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFont;
    font-size: 18px;
  }

  .main {
    grid-area: main;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .main_overview {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid lightgreen;
  }
  .overview_card {
    flex-basis: 300px;
    flex-grow: 1;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100px;
    border: 2px solid #1b363f;
    border-radius: 4px;
    color: #1b363f;
  }

  .main_overview1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid lightgreen;
  }
  .overview_card1 {
    flex-basis: 200px;
    flex-grow: 1;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100px;
    border: 2px solid #1b363f;
    border-radius: 4px;
    color: #1b363f;
  }


  /* responsive layout */
  @media only screen and (min-width: 750px) {
    .main_cards {
      margin: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 500px 500px;
      grid-template-areas:
        'card1 card2';
      grid-gap: 10px;
    }
  }

  @media only screen and (min-width: 750px) {
  .overview_card-icon{
    font-size: 3vh;
  }
}
