.grid { 
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    text-align: center;
    }
  .grid > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px 2px  rgba(0,0,0,0.2);
  }
  
  .text {
    padding: 0 20px 20px;
  }
  
  .btn{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
  }
  .btndelete{
      background-color: rgb(253, 47, 47);
      color: white;
      width: 40%;
      text-align: center;
      padding: 5px;
      text-decoration: none;
      border-radius: 3px;
  }
  .btnapp{
    background-color: #1DB954;
    color: white;
    width: 40%;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
}
.fas{
    padding: 5px;
    font-size: 1.1rem;
}